.image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: transform 0.2s, filter 0.2s;
}

.image:hover {
  transform: scale(1.1);
  filter: brightness(80%);
}

.container {
  overflow: hidden;
}
