.container {
  margin: 100px 0;
  width: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.copy {
  color: #4a4a4a;
  font-family: 'Adobe Caslon Pro Regular', Arial, sans-serif;
  text-align: center;
  overflow: hidden;
  font-weight: 400;
  letter-spacing: 0.5rem;
  letter-spacing: 0em;
  font-style: italic;
}
