.container {
  overflow: hidden;
  margin: 100px 0;
  width: 1100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 100px;
}

.copy {
  width: 800px;
  color: #4a4a4a;
  font-family: 'Caslon Pro Regular';
  text-align: center;
  overflow: hidden;
  font-weight: 400;
  font-style: italic;
}

.mainImg {
  width: 100%;
  aspect-ratio: 5 / 4;
  object-fit: cover;
}

.headingSpan {
  width: 790px;
  text-align: center;
}

@media (max-width: 1199px) {
  .copy {
    width: 500px;
  }

  .container {
    width: 854px;
  }
}
